.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    max-width: 50%;
}

.firstName, .secondName, .status {
    font-size: 1.5em;
}

.firstName {
    margin-top: 1vh;
}

.secondName {
    margin-top: 1vh;
}

.status {
    margin-top: 2vh;
}

#main {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.student {
    color: aquamarine;
}