.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 3vh;
}

.info {
    max-width: 50%;
}

.firstName, .secondName, .status, .patronymic {
    font-size: 1.3em;
    font-weight: bold;
}

.user_firstName, .user_secondName, .user_status, .user_patronymic {
    font-weight: normal !important;
}

.firstName {
    margin-top: 1vh;
}

.secondName {
    margin-top: 1vh;
}

#search-field {
    padding: 10px;
    width: 200px;
    margin-bottom: 5vh;
}

* {
    transition: ease-in-out 0.3s;
}

.status {
    margin-top: 2vh;
}

#main {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#list {
    font-size: 1.4em;
    margin-bottom: 70vh;
}

.student {
    color: dodgerblue;
}

.teacher {
    color: darkorange;
}

.organizer {
    color: orangered;;
}